// Table container for listing Voluntários
.voluntarios-content {
    //max-width: 50%;
    display: table;
    margin: 0 auto;
    padding: 100px 0 30px 0;
    
}

// Form Novo Voluntário
#novo-voluntario-form {

    // do not display feedback icon
    .form-control-feedback{
        display: none;
    }

    .form-text {
        display: none;
    }
}

// Bordered Info
.info {
    border: solid #f7f7f9;
    border-width: .2rem;
}